
/* Your CSS Code here. */
#box1{
	background-color: rgb(173, 216, 230);
	width: 300px;
	height: 300px;
	border: 15px solid rgb(0, 0, 255);
	padding: 50px;
	margin: 20px;
	
}
#box2{
	background-color: blue;
	width: 200px;
	margin-left: 30px;
	margin-top: 12px;
	height: 205px;
	padding: 5px;
	border : 15px solid blue;
}
#box3{
	background-color: lightblue;
	height: 170px;
	padding: 5px;
	width: 170px;
	margin-left: 10px;
}
#box4{
	background-color: light blue;
	text-align: center;
	width: 130px;
	height: 120px;
	margin: 20px;
	margin-left: 5px; 
	margin-top: 0px; 
	
    Border: 15px solid blue;
    padding: 5 px;
}